@font-face {
   font-family: 'PR Viking';
   font-display: swap;
   src: url('file:///C:/Users/maric/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-18_134703/fonts/PR%20Viking/font.ttf');
}
